.aside-covid {
  height: 58px;
}

.header.container {
  height: 60px;
}

.text-logo {
  font-size: 2rem;
}

#search-hotel {
  padding-left: calc(2rem + 8px);
}

.bi-search {
  margin-left: 1rem;
}

.container-title {
  height: 60px;
}

.title-hotel,
.title-rating,
.title-address,
.address {
  font-size: 1rem;
  margin-top: 1rem;
}

.container-how-to-get {
  font-size: 0.875rem;
  margin-top: 1rem;
}

.container-address {
  max-width: 250px;
}

.bi-star-fill,
.bi-star {
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .aside-covid {
    text-align: center;
  }

  .row.list-hotel > li {
    text-align: center;
  }

  .container-address {
    margin: 0 auto;
  }
}
